<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".notedetails"
            android:exported="false" />
        <activity
            android:name=".editnoteactivity"
            android:exported="false" />
        <activity
            android:name=".forgotPasswordActivity"
            android:exported="false"
            android:label="Şifre Yenileme"/>
        <activity
            android:name=".createNote"
            android:exported="false" />
        <activity
            android:name=".weekActivity"
            android:exported="false" />
        <activity
            android:name=".pomodoroActivity"
            android:exported="false" />
        <activity
            android:name=".notesActivitiy"
            android:exported="false" />
        <activity
            android:name=".ToDoActivity"
            android:exported="false"
            android:label="TODO"/>

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/btn_bg_white" />

        <activity
            android:name=".mainPage"
            android:exported="false" />
        <activity
            android:name=".mainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".registerActivity" />
        <activity android:name=".loginActivity" />
    </application>

</manifest>